extends layout

block content
  section
    h1= chat.chatName
    #chat-container
      #chat-header
        img(src=`${ASSETS_PATH}/img/profile.jpg`, alt="profile")
        #chat-header-info
          h3= chat.chatName
          .status Online
      
      #chat-messages
      
      #chat-input
        input(type="text", placeholder="Type your message...", id="messageInput")
        button(type="button", id="sendButton") Send

    script.
      const currentUser = !{JSON.stringify(user)};
      const authToken = '#{authToken}';
      const chatId = '#{chat._id}';
      const ASSETS_PATH = '#{ASSETS_PATH}';
    script(src="/socket.io/socket.io.js")
    script(src="/js/messages.js")